* {
    -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }

  .headerimage {
    background-color:#003a6f;
    height:600px;
    width:100%;
    background-size:cover;
    position:relative;
    z-index:-1;
  }
  

