<div class="headerimage">
    <!-- &nbsp; -->
  <div id="logo">
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <div id="txt"><h2>One framework.</h2>
      <h2>Mobile & desktop.</h2>
      <div class="buttom"><button href="#">GET STARTED</button></div>
    </div>
</div>

</div>

<div id="backshape">
  <div class="wrapper">
      <div id="sec1">
          <div id="imagen"><img src="/src/assets/img/angular-mix.png" alt="mix"></div>
          <div id="fecha">Join us for Angular Mix
              October 10th-12th, 2018</div>
          <div id="buttom"><button>LEARN MORE</button></div>
           </div>

           
           <div class="row">
              <div class="offset-2">
              </div>
              <div class="col-md-8">
                  <section>
                      <div class="container py-3">
                        <div class="card">
                          <div class="row ">
                            <div class="col-md-4">
                                <img src="/src/assets/img/responsive-framework.svg" class="w-100">
                              </div>
                              <div class="col-md-8 px-3">
                                <div class="card-block px-3">
                                  <h4 class="card-title">
                                      DEVELOP ACROSS ALL PLATFORMS
                                  </h4>
                                  <p class="card-text">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
                                </div>
                              </div>
                    
                            </div>
                          </div>
                        </div>
                    </section>

              </div>
              <div class="offset-2">
              </div>
            </div>  
              
              <hr>

              <div class="row">
                  <div class="offset-2">
                  </div>
                  <div class="col-md-8">
                      <section>
                          <div class="container py-3">
                            <div class="card">
                              <div class="row ">
                                <div class="col-md-8 px-3">
                                    <div class="card-block px-3">
                                      <h4 class="card-title">
                                          SPEED & PERFORMANCE
                                      </h4>
                                      <p class="card-text">Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.

                                          Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.</p>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                      <img src="/src/assets/img/speed-performance.svg" class="w-100">
                                    </div>
                                </div>
                              </div>
                            </div>
                        </section>
              
                  </div>
                  <div class="offset-2">
                  </div>
                </div>

                <hr>

                <div class="row">
                    <div class="offset-2">
                    </div>
                    <div class="col-md-8">
                        <section>
                            <div class="container py-3">
                              <div class="card">
                                <div class="row ">
                                  <div class="col-md-4">
                                      <img src="/src/assets/img/joyful-development.svg" class="w-100">
                                    </div>
                                    <div class="col-md-8 px-3">
                                      <div class="card-block px-3">
                                        <h4 class="card-title">
                                            INCREDIBLE TOOLING
                                        </h4>
                                        <p class="card-text">Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work.</p>
                                      </div>
                                    </div>
                          
                                  </div>
                                </div>
                              </div>
                          </section>
      
                    </div>
                    <div class="offset-2">
                    </div>
                  </div>
                  
                  <hr>

                  <div class="row">
                      <div class="offset-2">
                      </div>
                      <div class="col-md-8">
                          <section>
                              <div class="container py-3">
                                <div class="card">
                                  <div class="row ">
                                      <div class="col-md-8 px-3">
                                        <div class="card-block px-3">
                                          <h4 class="card-title">
                                              LOVED BY MILLIONS
                                          </h4>
                                          <p class="card-text">From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.</p>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                          <img src="/src/assets/img/loved-by-millions.svg" width="455" height="228">
                                        </div>
                            
                                    </div>
                                  </div>
                                </div>
                            </section>
                  
                      </div>
                      <div class="offset-2">
                      </div>
                    </div>
                    
                    <div class="row">
                        <div class="offset-3">
                        </div>
                        <div class="col-md-6">
                           <section>
                               <div class="container py-3">
                                 <div class="card">
                                   <div class="row ">
                                       <div class="col-md-4">
                                           <img src="/src/assets/img/code-icon.svg" height="77px">
                                       </div>
                                       <div class="col-md-8 px-3">
                                         <div class="card-block px-3">
                                           <a href=""><h4 class="card-title" >GET STARTED </h4></a>
                                           <p class="card-text">Start building your 
                                             Angular application
                                           </p>
                                         </div>
                                       </div>
                                     </div>
                                   </div>
                                 </div>
                             </section>
                        </div>
                        <div class="offset-3">
                       </div>
                      </div>

                  
  </div>
  </div>

  
