/* .navbar navbar-dark bg-dark mb-5{
    background-color: #0062cc;
} */

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}

.bg-dark {
    background-color: #0062cc!important;
    
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-width: 150px;
    max-width: 240px;
    height: 100%;    
    position: inherit;
}

input {
    color: #333;
    border: none;
    border-radius: 100px;
    background-color: #fafafa;
    padding: 5px 16px;
    margin-left: 5px;
    width: 180px;
    max-width: 240px;
    height: 50%;
    -webkit-appearance: none;
}



.navbar-dark[_ngcontent-c1] .navbar-nav[_ngcontent-c1] .nav-link[_ngcontent-c1] {
    color: rgba(239, 241, 237, 0.952);
   
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    
}



/* .mat-toolbar.mat-primary {
    background: #1976d2;
    color: #fff;
    padding: 0.5rem 1rem;
} */