<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/"></a>
  <!-- <img alt="Home" height="40" src="/src/assets/img/shield-large.svg" title="Home" width="37" class="ng-star-inserted"> -->
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="nav-link home" href="/"><!----><!----><img alt="Home" height="40" src="/src/assets/img/shield-large.svg" title="Home" width="37" class="ng-star-inserted" ></a>
      
      <a class="nav-item nav-link active" href="#">FEATURES</a>
      <a class="nav-item nav-link" href="#">DOCS</a>
      <a class="nav-item nav-link" href="#">RESOURCES</a>
      <a class="nav-item nav-link" href="#">EVENTS</a>
      <a class="nav-item nav-link" href="#">BLOG</a>
    </div>
    
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
      <div _ngcontent-c1="" class="search-container">
      <input _ngcontent-c1="" aria-label="search" placeholder="Search" type="search"></div>  
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://twitter.com/" target="_blank">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/" target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </div>
  </div>
</nav>

