<nav class="navbar navbar-dark bg-dark mb-5">
  <!-- <a class="navbar-brand" href="/">Angular & Bootstrap</a> -->
  <!-- <img alt="Home" height="40" src="/src/assets/img/shield-large.svg" title="Home" width="37" class="ng-star-inserted"> -->
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-link home" href="/"><!----><!----><img alt="Home" height="40" src="/src/assets/img/shield-large.svg" title="Home" width="37" class="ng-star-inserted" ></a>
      <a class="nav-item nav-link active" href="#">FEATURES</a>
      <a class="nav-item nav-link" href="#">DOCS</a>
      <a class="nav-item nav-link" href="#">RESOURCES</a>
      <a class="nav-item nav-link" href="#">EVENTS</a>
      <a class="nav-item nav-link" href="#">BLOG</a>
    </div>
    
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
      <div _ngcontent-c1="" class="search-container">
      <input _ngcontent-c1="" aria-label="search" placeholder="Search" type="search"></div>  
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
      <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </div>
  </div>
</nav>

